<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8"> 
<title>MuzWorld|Регистрация</title> 
    <link href="{% static "style/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "style/style_register.css"%}" rel="stylesheet">
</head>
    
<body>
<div class="container">
    <div class="forms">
        <form action="/registration/" method="POST" name="form">
		{% csrf_token %}
		{{form}}
            <div class="lines">
                Логин:<br>
                <input type="text" name="login" id="login"><br>              
                Жанр:<br>
                <input type="text" name="genre" id="genre"><br>      
                Пароль:<br>
                <input type="password" name="password1" id="pass1"><br>
                Повторите пароль:<br>    
                <input type="password" name="password2" id="pass2"><br>
                E-mail:<br>
                <input type="text" name="mail" id="mail"><br>
            </div><br>
        <input type="reset" class="reset" value="Очистить">
            <input type="submit" class="submit" value="Зарегистрироваться">   
        </form>
    </div>
</div>
</body>
</html>